<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="trsAppv2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="trsAppv2.My.MySettings.trsAppConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\trsApp.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <trsAppv2.My.MySettings>
            <setting name="rectx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="recty" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rectlocx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rectlocy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rect1x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rect1y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rect1locx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rect1locy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rect2x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rect2y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rect2locx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rect2locy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="amt1x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="amt1y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="datex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="datey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="amt2x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="amt2y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="wordsx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="wordsy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="refx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="refy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="partsx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="partsy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="empx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="empy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="payx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="payy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="unitx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="unity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="projx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="projy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="custx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="custy" serializeAs="String">
                <value>0</value>
            </setting>
        </trsAppv2.My.MySettings>
    </userSettings>
</configuration>